@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');
:root {
  --white: #fff;
  --black: #000;
  --grey-900: #23263b;
  --grey-800: #36395a;
  --grey-700: #484c7a;
  --grey-600: #5a5e9a;
  --grey-500: #777aaf;
  --grey-400: #9698c3;
  --grey-300: #b6b7d5;
  --grey-200: #d6d6e7;
  --grey-100: #f5f5fa;
  --grey-050: #fcfcfd;
  --grey-000: #fff;
  --pink-900: #59063d;
  --pink-800: #88085c;
  --pink-700: #b80979;
  --pink-600: #e90a96;
  --pink-500: #f82caa;
  --pink-400: #fb5abc;
  --pink-300: #fd89ce;
  --pink-200: #feb9e2;
  --pink-100: #ffeaf6;
  --xenon-1300: #050914;
  --xenon-1200: #0b1535;
  --xenon-1100: #0e2058;
  --xenon-1000: #0e297e;
  --xenon-900: #0c31a7;
  --xenon-800: #0738d2;
  --xenon-700: #003dff;
  --xenon-600: #2857ff;
  --xenon-500: #5172ff;
  --xenon-400: #7990ff;
  --xenon-300: #a2afff;
  --xenon-200: #cad1ff;
  --xenon-100: #f2f4ff;
  --cyan-900: #00526c;
  --cyan-800: #00769b;
  --cyan-700: #009bcb;
  --cyan-600: #0db7eb;
  --cyan-500: #2cc8f7;
  --cyan-400: #5adaff;
  --cyan-300: #89e5ff;
  --cyan-200: #b9efff;
  --cyan-100: #e8faff;
  --green-900: #005e36;
  --green-800: #028950;
  --green-700: #06b66c;
  --green-600: #0de589;
  --green-500: #5feb9e;
  --green-400: #88f0b3;
  --green-300: #aaf4c8;
  --green-200: #c9f8de;
  --green-100: #e6fcf3;
  --orange-900: #963209;
  --orange-800: #bf470a;
  --orange-700: #e8600a;
  --orange-600: #f78125;
  --orange-500: #faa04b;
  --orange-400: #fcbc73;
  --orange-300: #fed59a;
  --orange-200: #ffe9c3;
  --orange-100: #fff9ec;
  --clr-grey-5: hsl(210, 22%, 35%);
  --red-900: #83111e;
  --red-800: #ab1325;
  --red-700: #d4142a;
  --red-600: #ee243c;
  --red-500: #f4495d;
  --red-400: #f86e7e;
  --red-300: #fc95a1;
  --red-200: #febdc5;
  --red-100: #ffe6e9;
  --search: #5468ff;
  --answers: #952aff;
  --recommend: #ff2a6a;
  --neon-900: #00b928;
  --neon-800: #0ed724;
  --neon-700: #2cee10;
  --neon-600: #3ffd03;
  --neon-500: #66ff01;
  --neon-400: #91ff01;
  --neon-300: #b4ff01;
  --neon-200: #ceff00;
  --neon-100: #e2ff66;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  --clr-grey-5: #617d98;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;--clr-white: #fff;
  --font1: 'Roboto', sans-serif;
  --font2: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 1.5px, 0.5);
  --max-width: 1170px;
}
body {
  font-family: var(--font1);
  background: var(--clr-white);
  color: black;
  line-height: 1.5;
  font-size: 1rem;
  margin: 0;
  padding: 0;
   line-height: 1.55;
   scroll-behavior: smooth;
}
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 3.5rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  padding:0;
  margin:0;
}h2 {
  font-size: 2.4rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  padding:0;margin: 0.5rem auto;
  color:var(--clr-grey-3)
}
h3 {
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  padding:0;
  margin: 0.5rem auto;
 

}
p{
  color:rgb(118 118 118);letter-spacing: 0.05rem;margin:0 }
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--red-400);
  
}
span{color: var(--grey-600);}
 .btns{cursor: pointer;}
.btn{
  padding: 0.7rem 1.5rem;
  background-color: var(--clr-grey-4);
  border: none;
  border-radius: 0.5rem;
  color:var(--white);
  box-shadow: var(--dark-shadow);
  cursor: pointer;
  text-transform: uppercase;font-size: 1rem;
}

.socials-btn{
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color:var(--grey-900);
  font-size: 2.5rem;
  cursor: pointer;
}.socials-btn:hover{
  color:var(--cyan-200);
}
.section-center{width: 90vw;  max-width:1250px;margin: 0 auto;}
.section {
  padding: 2rem 0;
}
.section-title{
  display: grid;
  place-items: center;
}